body {
   text-align: none;
}


.tituloprincipal {
   color: chartreuse;
   font-size: 90px;
}

.cam01 {
   color: blue;
   font-size: 40px;
}

.cam02 {
   color: blueviolet;
   font-size: 30px;
}

.cam03 {
   color: cadetblue;
   font-size: 70px;
}

.cam04 {
   color: crimson; font-size: 50px;
}

.cam05 {
   color:aqua; font-size: 92px;

}

.cam06 {
   color:darkgoldenrod; font-size: 83px;
}
